mixin _navbar
    include _gear
    nav
        button(id="menuBtn" onclick="openMenu()") ///
        div(id="menu" style="display:none")
            div(class="menuItem" onclick="toggleDisplayTable()") "View as table"
            div(class="menuItem" onclick="toggleDisplayList()") "View as list"
            div(class="menuItem") "Logout"