body{
    background-image: url("/views/CSS/bookStackReduced.jpg");
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.showMessage{
    border:1px solid black;
    background-color: white;
    padding:1%;
    width:40%;
}
.hideMessage{
    border:none;
    padding:1%;
    width:40%;
    height: 10px;
}

#loginForm{
    border:1px solid black;
    background-color: #b4c0ece6;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height:300px;
    width:50%;
}
#loginForm > .button{
    margin:3%;
    border:none;
    background-color: white;
    width:25%;
    height:30px;
}
#loginForm > .textField{
    width:70%;
    height:50px;
}
#loginForm > .button:hover{
    background-color: rgb(212, 219, 228);
}

/*Media Queries*/
@media screen and (max-width: 1000px){
    body{
        background-size: cover;
    }
}

@media screen and (max-width: 500px){
    body{
        background-image:url("/views/CSS/bookStackReduced.jpg");
        background-size: cover;
    }
}
@media screen and (max-width: 500px){
    #loginForm{
        height: 500px;

    }
}
