mixin _navbar
    nav
        button(id="menuBtn" onclick="openMenu()") ///
        div(id="menu" style="display:none")
            div(class="menuItem") Add a book
            div(class="menuItem") Delete a book
            div(class="menuItem") Logout 